#header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  background: var(--header-bg-color);
  padding: 1rem;
  padding-bottom: 0.618rem;

  a {
    color: white;
  }
}

#brand {
  display: flex;
  justify-content: center;
  align-items: center;

  #avatar {
    border-radius: 55% 45% 50% 55% / 60% 55% 50% 45%;
  }

  h1,
  h2 {
    margin-left: 16px;
  }

  h1 {
    padding-top: 1em;
    font-size: 1em;
  }

  h2 {
    font-size: 0.8em;
    opacity: 0.5;
  }
}

#main-nav {
  a {
    font-size: 1.3em;
    padding: 0.4em 0.8em;
    border-radius: 6px;
    &:hover {
      background: rgba(255, 255, 255, 0.04);
    }
  }
}

#social-nav {
  display: flex;
  font-size: 1rem;
  margin-top: 0.1em;
  margin-left: 0.4em;
  --padding: 0.44em;

  a {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: var(--padding);
    font-size: 1.6em;
    border-radius: 6px;

    * {
      filter: brightness(0) invert(1);
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      * {
        filter: saturate(100%);
      }
      background: rgba(255, 255, 255, 0.04);
    }
  }
  img {
    height: 1em;
  }
}
