html,
body,
#app {
  height: 100%;

  // @include media(large) {
  //   overflow: hidden;
  // }
}

#app {
  display: grid;
  overflow-y: auto;
  // @include media(large) {
  //   grid-template-areas: 'header main';
  //   grid-template-columns: 10em 1fr;
  // }
}

#header {
  // @include media(large) {
  //   grid-area: header;
  // }
}

#main {
  height: 100%;
  // @include media(large) {
  //   grid-area: main;
  //   overflow-y: auto;
  // }

  article {
    padding-bottom: calc(100vh - 1em);
  }

  img {
    max-width: 100%;
  }
}
