#main .page {
	padding-bottom: 4em;
	header {
		height: 40vh;

		.header-title {
			bottom: 2.6em;
		}

		h1, 
		h2 {
			width:95%;
			text-align: center;
			color:#333;
		}

		h2 {
			color:lighten(#333, 50%);
		}
	}
}

.project-list {
	h5 {
		font-size: 1em;
		display: inline-block;
		/* border-bottom: 0.16em solid lighten($d_color, 45%); */
	}
	img {
		width: 100px;
		height: auto;
	}
	a {
		color: $link_color;
	}
	p {
		margin: 0;
		font-size: 0.9em;
	}
}

@media screen and (min-width: $mq) {
	#main .page {
		header {
			height: 45vh;
			
			.header-title {
				bottom: 3em;
			}
		}
	}
}