#main .resume-page {
	h1,h2,h3,h4,h5 {
	    font-size: 1.2em;
	}
	header {
		height: inherit;
		min-height: 40vh;
		.header-title {
			padding-left: 0.2em;
			bottom: 2em;
		}
	}
}

#resume {
	.table-row {
		padding-bottom: 1.2em;
	}

	.section-title {
		text-align: left;
		padding-bottom: 0.5em;
		color: desaturate(transparentize($d_color, 0.2), 20%) !important;
	}

	.section-content {
		h1,h2,h3,h4,h5 {
		    font-size: 1em;
		}
	}

	.resume-highlight-list {
		padding-top: 0.5em;
	}

	.badge-info {
		background-color: #586994;
	}

	p a {
		border:none;
	}
}

$resumewidth: 95%;

@media screen and (max-width: $mq) {
	#main .resume-page {
		h1 {
			font-size: 1.2em;
		}
		h2 {
			font-size: 1.1em;
		}
		h3,h4 {
		    font-size: 1em;
		}
		h5 {
			font-size: 0.9em;
		}
		header {
			height: inherit;
			min-height: 24vh;
			.header-title {
				bottom: 6vh;
			}
		}
	}

	#resume {
		width: $resumewidth;
		padding-left: 1.4em;
		.table-row {
			display: block;
		}
	}
}

@media screen and (min-width: $mq) {
	#main .resume-page {
		header .header-title {
			transform: translateX(-50%);
			left: 50%;
		}
			
		header .header-title,
		.page-description {
			width: $resumewidth;
			max-width: 1000px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;

			h1, p {
				margin: 0;
				flex: 0 1 68%;
				text-align: left;
			}
		}

		.page-description p {
			margin-bottom: 2em;
			color: hsl($brand-hue, 12%, 48%) !important;
		}
	}
	#resume {
		width: $resumewidth;
		max-width: 1000px;

		.section-title {
			flex: 0 0 32%;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			padding-right: 4em;
		}
		.section-content {
			flex: 1 1 auto;
		}

		.resume-highlight-list {
			li {
				margin-bottom: 0.94em;
				line-height: 1.5;
			}
		}
	}
}