body,
p {
  font-family: $para-font;
  font-weight: 400;
  strong {
    font-weight: 500;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  font-family: $header_font;
  font-weight: 700;
}
