$header_font: 'Open+Sans';
$header_size: '700';
$para_font: 'Roboto';

$a_color: #29253d; /* gunmetal */
$b_color: #5171E0; /* royal blue */
$c_color: #586994; /* ucla bluee */
$d_color: #21A038; /* turquoise */
$e_color: #51E0D8; /* turquoise */


@import url('https://fonts.googleapis.com/css?family=#{$header_font}:#{$header_size}|#{$para_font}');

$header_font: 'Open Sans';

$mq: 60em;

/* legibility */
body, button, input, textarea {
	background-color: white;
    color: #43454b;
    line-height: 1.618;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.002em;
    word-spacing: 0.01em;
}

$para_color: rgba(0, 0, 0, 0.75);

p {
    line-height: 1.55;
    letter-spacing: -0.002em;
    word-spacing: 0.03em;
    margin: 0 0 1.41575em;
    color: $para_color;
}

pre {
	margin-bottom: 1.41575em !important;
}

body, p {
	font-family: $para_font;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
	font-family: $header_font;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

// selection 
$select_bg: $b_color;

::-moz-selection {
    color: white;
    background: $select_bg;
}

::selection {
    color: white; 
    background: $select_bg;
}

#page-container {
	display: flex;
	flex-flow: column nowrap;
}

$nav-color: desaturate(darken($b_color, 16%), 14%);

#nav {
	flex: 0 0 auto;
	min-height: 55px;
	background-color: $nav-color;
	background-image: linear-gradient(135deg, $nav-color, adjust-hue($nav-color, -30deg));
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	font-size: 14pt;

	#brand-link h1 {
		font-size: 1.14em;
		margin:0;
	}

	#brand-link img {
		border: 3px solid transparentize(#222, 0.85);
		box-sizing: content-box;
	}

	#nav-footer {
		display:none;
	}

	#nav-top {
		font-size: 0.88em;
	}

	#side-nav {
		display:flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		li {
			flex: 1 1 auto;
		}
	}

	a {
		width:100%;
		height:100%;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		transition: all .2s;
		padding: 0.8em 0;
		color: #FFF;
		font-weight: bold;

		&:hover, &:active {
			background: transparentize($nav-color, 0.8);
			text-decoration: none;
		}
		&.active {
			background: transparentize(#222, 0.9);
			cursor: default;
		}
	}
}

#main {
	flex: 1 1 auto;
	background: white;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	overflow:auto;	

	header {
		position: relative;

		.header-image {
			height:100%;
			width:100%;
			position: absolute;
			filter: blur(0.01em) saturate(60%) opacity(0.8);
			background-size:cover;
		}

		.header-title {
			position: absolute;
			bottom: 5em;
			width:100%;
		}

		h1, 
		h2 {
			font-size: 1.8em;
			font-weight: bold;
			line-height: 1.4;
			width: 65%;
			max-width: 770px;
			margin: 0 auto;
			color:white;
		}

		h2 {
			font-size:1.25em;
			line-height: 1.2;
			padding: 0.15em 0.5em;
			color:#EEE;
		}
	}

	.page-description {
		min-height: 4.6em;
		max-width: 800px;
		margin: 0 auto;
		padding: 2vh;
		padding-top: 0;
		padding-bottom: 0;
		display: flex;
		flex-flow: row no-wrap;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.container {
		width: 92%;
		max-width: 650px;
		padding-top: 0;

		h1, h2 {
			margin-top: 1.3em;
			margin-bottom: 0.5em;
		}
	}
}

// scrollbar
#main::-webkit-scrollbar {
    width: 1em;
}
 
#main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#main::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

$tag_color: $b_color;

.tag-list {
	padding-top: 0;
	width: 95%;
	max-width: 700px;
	margin: 0 auto;
	font-size: 13pt;
	display: flex;
	flex-flow: row wrap;
	li {
		display: inline-block;
		margin-right: 15px;
		margin-bottom: 15px;
		padding: 0.15em 0.5em;
		border-radius: 4px;
		color:white;
		background-color: $tag_color;
		box-shadow: inset transparentize(darken($tag_color, 30%), 0.7) -1px -2px 3px;
	}
}

.container .tag-list {
	width: 100%;
	padding:0;
}

.table-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

$breadcrumb_color: #47A;

.breadcrumb {
	background-color: transparent;
	font-size: 0.84em;
	margin-bottom: 0;
	
	.breadcrumb-item + .breadcrumb-item::before {
	    color: lighten($breadcrumb_color, 30%);
	}

	.breadcrumb-item.active {
	    color: desaturate(lighten($breadcrumb_color, 10%), 30%);
	}

	a {
		color:$breadcrumb_color;
	}
}

.text-muted {
	color:lighten(#333, 50%);
}

.header-link {
	float: left;
	position: absolute;
	left: -25px;
	font-size: 14pt;
	height: 100%;
	width: 25px;
	border: none !important;
	i {
		visibility: hidden;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: #b3b3b3;
	}
	&:hover i {
		visibility: visible;
		color: lighten(#b3b3b3, 5%);
	}
}

h1, h2, h3, h4, h5 {
	position: relative;
	&:hover .header-link i {
		visibility: visible;
	}
}

.border {
	border-width: 2px !important;
}

$link_color: $para_color;

.markdown {
	a {
		color: $link_color;
		border-bottom: 0.16em solid lighten($d_color, 45%);
		margin: 0 3px;
		padding-bottom: 0.06em;
		transition: color 0.2s;
		white-space: nowrap;
		&:hover {
			color: lighten($link_color, 20%);
			text-decoration: none;
		}
	}
	h1,h2,h3,h4,h5 {
		margin-top: 12px;
		margin-bottom: 28px;
	}
	h3 {
		font-size: 1.4em;
	}
	ul {
		padding-left: 1em;
		margin-bottom: 1.41575em;
		li:before {
			left: -1.5em;
			top: 0.3em;
			display: inline-block;
			position: absolute;
			font-family: FontAwesome;
			font-size: 10pt;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\f054";
			color: #ccc;
		}
		li {
			position: relative;
			margin-bottom: 0.94em;
			line-height: 1.5;
			font-size: 14pt;
		}
	}
	img {
		width:100%;
	}
}

.list-group-item:hover {
	background: transparentize(adjust-hue(saturate($c_color, 60%),-20deg), 0.9);
}

// larger than small screen 900 px
@media screen and (min-width: $mq) {
	html, 
	body, 
	#page,
	#page-container {
		height:100%;
		overflow: hidden;
	}
	#page-container {
		flex-flow: row nowrap;
	}

	$main_width: 68%;

	#main {
		flex: 1 1 $main_width;
		.container {
			width: 60%;
		}
		header {
			height: 76vh;
		}
	}

	#nav {
		flex: 1 1 (100 - $main_width);
		flex-flow: column nowrap;
		font-size: 15pt;
		max-width: 324px;

		#nav-top {
			display:flex;
			flex: 1 1 auto;
			flex-flow: column nowrap;
			font-size: 1em;
		}

		#nav-footer {
			font-size: 16pt;
			display: block;
			flex:0 1 auto;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			align-self: flex-end;
			li, a {
				display: flex;
				flex: 0 1 auto;
			}
			a {
				padding: 0.6em 0.5em;
			}
		}

		#brand-link {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			flex: 1 1 auto;
			a { 
				flex: 0 1 4em;
			}
		}

		#side-nav {
			flex-flow: column nowrap;
			flex: 1 0 auto;
			justify-content: flex-start;
			li, a {
				display: flex;
				flex-flow: column nowrap;
				flex: 0 1 4em;
			}
		}

		/* force left-align */
		#brand-link h1,
		#side-nav a .nav-text {
			min-width: 40%;
		}
	}
}

@import '../static/prism/prism.css';
@import 'page';
@import 'resume';
@import 'project';